name: Generar Reporte BDD con SpecFlow+ LivingDoc y Publicar 
env:
  DOTNET_VERSION: '8.0' # la versión de .NET
# on: push
on: 
  workflow_dispatch:

jobs:
  test-and-publish-coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configurando la versión de NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Restore dependencies & Run tests with coverage
      run: |
        cd WebApp
        dotnet restore
        dotnet test --collect:"XPlat Code Coverage"
    # living install
    - name: Install living Specflow +LivingDoc
      run: dotnet tool install --global SpecFlow.Plus.LivingDoc.CLI
    - name: Generate bdd Report
      run: |
        cd WebApp
        mkdir -p ReporteBDD
        livingdoc test-assembly ./pyWeb_ScaeUPT.Tests/bin/Debug/net8.0/pyWeb_ScaeUPT.Tests.dll -t ./pyWeb_ScaeUPT.Tests/bin/Debug/net8.0/TestExecution.json -o ReporteBDD/index.html
    - name: Deploy bdd report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: WebApp/ReporteBDD
        destination_dir: ReporteBDD
        keep_files: true