name: Generar Documentacion con DocFx y Publicar 
env:
  DOTNET_VERSION: '8.0' # la versión de .NET
  DOTNET_VERSION_TOOL: '6.0' # la versión de .NET para agregar compatibilidad con .NET 6
on: push
jobs:
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: pyDesktop_ScaeUPT
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configurando la versión de NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    - name: Actualizar DocFx y dll2mmd  
      run: |
        dotnet tool update -g docfx
        dotnet tool update -g dll2mmd
    - name: Restore packages
      run: msbuild SCAE-UPT.sln /p:Configuration=Release /p:Platform="Any CPU" /p:OutputType=Library
    - name: Generar diagrama de clases con dll2mmd
      run: |
        dll2mmd -f bin/Release/SCAE-UPT.dll -o clases.md -ns SCAE_UPT.Entidad SCAE_UPT.Negocio SCAE_UPT.Config
        cat clases.md
    - name: Upload class diagram
      uses: actions/upload-artifact@v4
      with:
        name: class-diagram
        path: pyDesktop_ScaeUPT/clases.md
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    defaults:
        run:
          working-directory: WebApp
    needs: build-windows
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Download class diagram
      uses: actions/download-artifact@v4
      with:
        name: class-diagram
        path: WebApp
    - name: Configurando la versión de NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Compatibilidad con .NET 6
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION_TOOL }}
    - name: Actualizar DocFx y dll2mmd  
      run: |
        dotnet tool update -g docfx
        dotnet tool update -g dll2mmd
    - name: Build WebApp
      working-directory: WebApp
      run: |
        dotnet restore ./pyWeb_ScaeUPT/pyWeb_ScaeUPT.csproj
        dotnet build ./pyWeb_ScaeUPT/pyWeb_ScaeUPT.csproj --configuration Release
    - name: Generate coverage Report
      run: |
        dotnet test --collect:"XPlat Code Coverage"
        dotnet tool install -g dotnet-reportgenerator-globaltool
        reportgenerator "-reports:./*/*/*/coverage.cobertura.xml" "-targetdir:Cobertura" -reporttypes:MarkdownSummaryGithub
    - name: Inicializar DocFX
      run: |
          docfx init -y
    - name: Limpiar el directorio docs
      run: |
          rm -rf docs/*
    - name: Modificar archivo docfx.json
      run: |
        cat > docfx.json <<EOF
        {
          "$schema": "https://raw.githubusercontent.com/dotnet/docfx/main/schemas/docfx.schema.json",
          "metadata": [
            {
              "src": [
                {
                  "src": ".",
                  "files": [
                    "**/*.csproj"
                  ]
                }
              ],
              "dest": "docs"
            }
          ],
          "build": {
            "content": [
              {
                "files": [
                  "**/*.{md,yml}"
                ],
                "exclude": [
                  "_site/**",
                  "Cobertura/index.html",
                  "Stryker/mutation-report.html",
                  "docs/pyWeb_ScaeUPT.html",
                  "ReporteBDD/index.html"
                ]
              }
            ],
            "resource": [
              {
                "files": [
                  "images/**"
                ]
              }
            ],
            "output": "_site",
            "template": [
              "default",
              "modern"
            ],
            "globalMetadata": {
              "_appName": "SCAEupt.App",
              "_appTitle": "SCAEupt App",
              "_enableSearch": true,
              "pdf": true
            }
          }
        }
        EOF
    - name: VER JSON
      run: cat docfx.json
    - name: Modificar archivo toc.yml
      run: |
        cat > toc.yml <<EOF
        - name: Docs
          href: docs/
        EOF
    - name: Modificar archivo index.md
      run: |
        cat > index.md <<EOF
        ---
        _layout: landing
        ---

        # This is the **HOMEPAGE**.

        ## [Reporte Cobertura HTML](Cobertura/index.html)

        ## [Reporte Cobertura Markdown](Cobertura/SummaryGithub.md)
        
        ## [Reporte de Mutaciones](Stryker/mutation-report.html)

        ## [Diagrama de Clases](clases.md)
        
        ## [Reporte BDD](ReporteBDD/index.html)

        ## [Reporte Snyk](ReporteSnyk/index.html)

        ## [Reporte Semgrep](ReporteSemgrep/index.html)
        EOF
    - name: Generar documentación
      run: |
        docfx metadata docfx.json
        docfx build
    - name: Publicar en GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: WebApp/_site
        keep_files: true